@media (min-width:600px) {
  h1::before{
    content: "Добро пожаловать в гостинную ";
  }
}
@media  (max-width:599px){
  h1::before{
    content: "Добро пожаловать в ";
  }
}
h1{
  text-align: center;
  font: bold;
}
div{
  font-size: 20px;
  padding: 10%;
}
